In [2]:
import pandas as pd
from datetime import datetime
from random import randint
from tqdm import tqdm
import numpy as np
from numpy.linalg import norm
from operator import itemgetter

## Part 1 : MinHash

In [23]:
new_data = pd.read_pickle('processed.pkl')

## HASH FUNCTIONS

In [9]:
def hash_date(value):
    return int(pd.Timestamp(value).timestamp())

In [10]:
def hash_string(value,p):
    m =2^32 -1
    return sum([ ord(x)*(p^i) for i,x in enumerate(value)])%m

In [11]:
def hash_float(value):
    integer,decimal  = str(value).split('.')
    return int(integer+decimal)

## MINHASH

In [6]:
def minHash(customer,p,permutations):
    vec  = [0 for i in range(len(customer)) ]
    for i,val in enumerate(customer):
        if not isinstance(val,int):
            if isinstance(val,datetime): 
                val  = hash_date(val)
            elif isinstance(val,str): 
                val = hash_string(val,p)
            elif isinstance(val,float): 
                val = hash_float(val)

        mini = float('inf')
        for perm_vals in permutations:
            a,b = perm_vals
            output = (a*val +b)%p

            if(mini > output):
                mini  = output

        vec[i] = output
    return vec

### MinHash applied to kaggle dataset

In [25]:
p  = 4993
max_val = 2^32-1
N  = 10
permutations = [ (randint(0,max_val),randint(0,max_val)) for i in range(N)]
new_data['minhash']  = [minHash([*x[1]],p,permutations) for x in tqdm(new_data.iterrows())]

0it [00:31, ?it/s]
0it [00:45, ?it/s]
985322it [03:44, 4386.19it/s]

### Read Query.csv

In [24]:
query  = pd.read_pickle('query.pkl')

### MinHash applied to query dataset

In [26]:
query['minhash']  = [minHash([*x[1]],p,permutations) for x in tqdm(query.iterrows())]

46it [00:00, 3374.40it/s]

### Check similarity

In [4]:
def cosine_sim(A,B):
    cosine = np.dot(A,B)/(norm(A)*norm(B))
    return cosine

In [15]:
def find_best_neighbour(query):
    norm_q_hash  = np.array(query.minhash)/max(query.minhash)
    best_score = max([(cosine_sim(norm_q_hash,(np.array(x)/max(x))),i) for i,x in enumerate(new_data.minhash)],key=itemgetter(0))
    return best_score

In [35]:
neighbours = []
for i in range(len(query)):
    if i in query.index:
        res = find_best_neighbour(query.loc[i])
        neighbours.append(res[1])

#### Query dataset

In [37]:
display(query)

,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),minhash
0,1978-07-27,M,DELHI,94695.61,2016-02-09,140310,65.00,"[1166, 103, 63, 3388, 3240, 90, 1530]"
1,1992-06-11,M,PANCHKULA,7584.09,2016-02-09,120214,6025.00,"[2012, 103, 43, 4739, 3240, 3843, 3363]"
2,1991-08-14,M,PATNA,7180.60,2016-10-08,221732,541.50,"[3199, 103, 123, 4084, 4372, 451, 4243]"
3,1987-03-01,M,CHENNAI,56847.75,2016-08-29,144138,1000.00,"[4419, 103, 53, 2468, 925, 3419, 163]"
4,1995-04-01,M,GURGAON,84950.13,2016-09-25,233309,80.00,"[3377, 103, 23, 4244, 1629, 1382, 3030]"
5,1981-10-01,M,WORLD TRADE CENTRE BANGALORE,23143.95,2016-11-09,192906,303.00,"[1691, 103, 73, 1418, 1138, 1785, 365]"
6,1976-09-20,F,CHITTOOR,15397.80,2016-08-28,92633,20.00,"[3538, 43, 193, 1959, 714, 2648, 2023]"
7,1991-10-04,M,MOHALI,426.30,2016-02-08,203754,50.00,"[3974, 103, 233, 2709, 3029, 419, 30]"
8,1990-03-19,M,MOHALI,4609.34,2016-08-26,184015,300.00,"[4802, 103, 233, 824, 292, 2749, 65]"
9,1970-12-19,M,SERAMPORE,6695988.46,2016-08-27,144030,299.00,"[4393, 103, 83, 1008, 503, 2339, 4958]"
10,1989-02-26,M,BANGALORE,5974.56,2016-06-08,220151,300.00,"[3244, 103, 73, 2955, 3595, 4613, 65]"
11,1984-08-22,M,BANGALORE,268.09,2016-11-08,203131,2244.00,"[4815, 103, 73, 3484, 927, 4175, 4731]"
12,1979-09-21,M,LUDHIANA,38785.44,2016-08-22,185953,690.00,"[123, 103, 233, 4832, 4441, 2157, 4114]"
13,1992-06-17,F,BANGALORE,19767.76,2016-12-08,232822,4912.00,"[3278, 43, 73, 496, 2264, 1505, 1909]"
14,1986-01-08,M,HYDERABAD,21713.09,2016-11-09,150136,284.00,"[1313, 103, 223, 3549, 1138, 3483, 3458]"
16,1991-12-17,F,MUMBAI,1981.59,2016-05-08,214323,401.00,"[4609, 43, 183, 4385, 2047, 1256, 179]"
18,1993-07-07,M,GURGAON,27930.23,2016-08-09,25212,60.00,"[4625, 103, 23, 4404, 1698, 2493, 1030]"
19,1989-06-21,M,CHENNAI,6399.24,2016-03-08,201328,404.00,"[2544, 103, 53, 3230, 4155, 1124, 479]"
20,1982-09-18,F,NOIDA,498859.06,2016-08-22,94901,40000.00,"[1068, 43, 83, 3460, 4441, 363, 630]"
21,1962-08-21,F,BANGALORE,108941.24,2016-09-14,154153,1280.00,"[1635, 43, 73, 3989, 4301, 3709, 3198]"
22,1988-08-17,M,NEW DELHI,125934.77,2016-10-08,104836,197.00,"[2465, 103, 53, 1347, 4372, 4846, 4744]"
23,1965-05-12,M,AHMEDABAD,47403.83,2016-08-28,195559,3460.00,"[1874, 103, 303, 311, 714, 3350, 1506]"
24,1994-10-07,M,PRAKASAM DIST (AP),26655.05,2016-02-08,220553,150.00,"[1192, 103, 183, 2439, 3029, 3640, 44]"
25,1975-10-25,M,BANGALORE,10072.85,2016-04-08,144551,862.44,"[3599, 103, 73, 1992, 710, 2556, 3667]"
26,1989-01-11,M,VADODARA,101424.95,2016-09-25,183541,990.00,"[3524, 103, 53, 2164, 1629, 3002, 4156]"
27,1983-10-16,M,MUMBAI,64389.91,2016-09-09,193308,220.00,"[4103, 103, 183, 205, 3246, 812, 2051]"
28,1987-02-16,M,HYDERABAD,12793.16,2016-08-08,212021,199.00,"[1676, 103, 223, 1117, 1487, 3201, 4944]"
30,1986-10-12,M,AURANGABAD,170981.48,2016-07-08,205242,1137.00,"[4837, 103, 213, 1211, 4932, 320, 3877]"
31,1969-06-06,M,HODEL,995009.07,2016-04-08,181055,3000.00,"[861, 103, 193, 4053, 710, 3107, 443]"
33,1984-07-04,F,NEW DELHI,103832.66,2016-09-09,141846,1290.23,"[4462, 43, 53, 3248, 3246, 471, 2059]"
34,1991-09-15,M,SECUNDERABAD,602296.81,2016-11-09,184655,2937.48,"[4958, 103, 283, 1229, 1138, 4156, 1619]"
35,1991-01-28,F,N T PUNE,23299.53,2016-10-09,220846,212.00,"[1365, 43, 143, 2215, 4583, 1577, 1251]"
36,1986-06-02,M,NEW DELHI,398248.26,2016-01-08,220403,3180.00,"[1950, 103, 53, 1610, 1481, 2140, 3464]"
37,1987-07-31,M,BANGALORE,1660.45,2016-08-14,203911,100.86,"[1540, 103, 73, 2797, 2753, 1989, 1023]"
38,1984-05-29,M,NEW DELHI,11349.64,2016-02-09,144724,5598.00,"[1859, 103, 53, 574, 3240, 4286, 607]"
39,1988-01-22,M,HYDERABAD,10994.33,2016-02-08,153712,60.00,"[3514, 103, 223, 4760, 3029, 4292, 1030]"
40,1987-02-18,M,CHENNAI,2887.39,2016-08-24,181703,20.00,"[2098, 103, 53, 1459, 4863, 4594, 2023]"
41,1986-01-03,M,IMPHAL,31987.86,2016-08-19,145712,203.00,"[258, 103, 183, 2725, 3808, 4180, 351]"
42,1981-02-11,F,NEW DELHI,85626.45,2016-12-09,105636,1500.00,"[2669, 43, 53, 1516, 2475, 2860, 233]"
43,1990-02-12,F,NEW DELHI,3156.39,2016-04-08,204616,199.00,"[2410, 43, 53, 837, 710, 4046, 4944]"
44,1972-06-09,M,GHAZIABAD,225234.23,2016-08-24,171054,347.30,"[3072, 103, 23, 23, 4863, 2957, 4795]"
45,1990-05-30,F,DELHI,1089764.73,2016-05-09,130529,250.00,"[22, 43, 63, 2559, 2258, 2140, 58]"
46,1974-09-26,M,CHENNAI,24678.92,2016-08-17,215806,60.00,"[353, 103, 53, 3537, 3386, 1107, 1030]"
47,1991-02-07,M,DIST NORTH GOA BARDEZ,518766.40,2016-09-14,182251,90.00,"[3475, 103, 243, 4386, 4301, 88, 4030]"
48,1994-07-04,F,PUNE,8085.25,2016-05-09,191233,1014.00,"[1119, 43, 203, 1606, 2258, 34, 1563]"
49,1987-05-01,M,DELHI,10989.03,2016-04-09,113240,240.00,"[2311, 103, 63, 4453, 921, 4005, 4051]"

#### Best neighbours in the kaggle datset based on the cosine similarity of  minhash  vector

In [38]:
display(new_data.loc[neighbours])

,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),minhash
701472,1978-07-27,M,DELHI,94695.61,2016-02-09,140310,65.00,"[1166, 103, 63, 3388, 3240, 90, 1530]"
684212,1992-06-11,M,PANCHKULA,7584.09,2016-02-09,120214,6025.00,"[2012, 103, 43, 4739, 3240, 3843, 3363]"
296431,1991-08-14,M,PATNA,7180.60,2016-10-08,221732,541.50,"[3199, 103, 123, 4084, 4372, 451, 4243]"
601262,1987-03-01,M,CHENNAI,56847.75,2016-08-29,144138,1000.00,"[4419, 103, 53, 2468, 925, 3419, 163]"
10841,1995-04-01,M,GURGAON,84950.13,2016-09-25,233309,80.00,"[3377, 103, 23, 4244, 1629, 1382, 3030]"
880492,1981-10-01,M,WORLD TRADE CENTRE BANGALORE,23143.95,2016-11-09,192906,303.00,"[1691, 103, 73, 1418, 1138, 1785, 365]"
581328,1976-09-20,F,CHITTOOR,15397.80,2016-08-28,92633,20.00,"[3538, 43, 193, 1959, 714, 2648, 2023]"
74329,1991-10-04,M,MOHALI,426.30,2016-02-08,203754,50.00,"[3974, 103, 233, 2709, 3029, 419, 30]"
563650,1990-03-19,M,MOHALI,4609.34,2016-08-26,184015,300.00,"[4802, 103, 233, 824, 292, 2749, 65]"
547486,1970-12-19,M,SERAMPORE,6695988.46,2016-08-27,144030,299.00,"[4393, 103, 83, 1008, 503, 2339, 4958]"
118684,1989-02-26,M,BANGALORE,5974.56,2016-06-08,220151,300.00,"[3244, 103, 73, 2955, 3595, 4613, 65]"
277123,1984-08-22,M,BANGALORE,268.09,2016-11-08,203131,2244.00,"[4815, 103, 73, 3484, 927, 4175, 4731]"
535158,1979-09-21,M,LUDHIANA,38785.44,2016-08-22,185953,690.00,"[123, 103, 233, 4832, 4441, 2157, 4114]"
261622,1992-06-17,F,BANGALORE,19767.76,2016-12-08,232822,4912.00,"[3278, 43, 73, 496, 2264, 1505, 1909]"
873729,1986-01-08,M,HYDERABAD,21713.09,2016-11-09,150136,284.00,"[1313, 103, 223, 3549, 1138, 3483, 3458]"
144069,1991-12-17,F,MUMBAI,1981.59,2016-05-08,214323,401.00,"[4609, 43, 183, 4385, 2047, 1256, 179]"
810156,1993-07-07,M,GURGAON,27930.23,2016-08-09,25212,60.00,"[4625, 103, 23, 4404, 1698, 2493, 1030]"
55578,1989-06-21,M,CHENNAI,6399.24,2016-03-08,201328,404.00,"[2544, 103, 53, 3230, 4155, 1124, 479]"
507033,1982-09-18,F,NOIDA,498859.06,2016-08-22,94901,40000.00,"[1068, 43, 83, 3460, 4441, 363, 630]"
939850,1962-08-21,F,BANGALORE,108941.24,2016-09-14,154153,1280.00,"[1635, 43, 73, 3989, 4301, 3709, 3198]"
280105,1988-08-17,M,NEW DELHI,125934.77,2016-10-08,104836,197.00,"[2465, 103, 53, 1347, 4372, 4846, 4744]"
616154,1965-05-12,M,AHMEDABAD,47403.83,2016-08-28,195559,3460.00,"[1874, 103, 303, 311, 714, 3350, 1506]"
77069,1994-10-07,M,PRAKASAM DIST (AP),26655.05,2016-02-08,220553,150.00,"[1192, 103, 183, 2439, 3029, 3640, 44]"
156125,1975-10-25,M,BANGALORE,10072.85,2016-04-08,144551,862.44,"[3599, 103, 73, 1992, 710, 2556, 3667]"
6366,1989-01-11,M,VADODARA,101424.95,2016-09-25,183541,990.00,"[3524, 103, 53, 2164, 1629, 3002, 4156]"
799908,1983-10-16,M,MUMBAI,64389.91,2016-09-09,193308,220.00,"[4103, 103, 183, 205, 3246, 812, 2051]"
207512,1987-02-16,M,HYDERABAD,12793.16,2016-08-08,212021,199.00,"[1676, 103, 223, 1117, 1487, 3201, 4944]"
236840,1986-10-12,M,AURANGABAD,170981.48,2016-07-08,205242,1137.00,"[4837, 103, 213, 1211, 4932, 320, 3877]"
158024,1969-06-06,M,HODEL,995009.07,2016-04-08,181055,3000.00,"[861, 103, 193, 4053, 710, 3107, 443]"
793405,1984-07-04,F,NEW DELHI,103832.66,2016-09-09,141846,1290.23,"[4462, 43, 53, 3248, 3246, 471, 2059]"
879534,1991-09-15,M,SECUNDERABAD,602296.81,2016-11-09,184655,2937.48,"[4958, 103, 283, 1229, 1138, 4156, 1619]"
471815,1989-07-08,F,THANE,12069.87,2016-08-19,122954,360.00,"[1138, 43, 213, 1812, 3808, 1285, 1072]"
86299,1996-10-17,F,MUMBAI,20843.02,2016-09-27,182032,4293.64,"[2760, 43, 183, 2261, 2051, 2891, 4676]"
43244,1995-04-20,M,GURGAON,583.34,2016-03-08,124624,65.00,"[2393, 103, 23, 4175, 4155, 3006, 1530]"
683581,1991-05-05,M,VISAKHAPATNAM,363980.17,2016-02-09,130738,306.00,"[1860, 103, 173, 479, 3240, 4230, 665]"
360965,1991-06-03,M,HARINGHATA,11263.38,2016-08-13,160640,125.75,"[2986, 103, 123, 4188, 2542, 3670, 948]"
113072,1985-12-17,M,NEW DELHI,8389.31,2016-06-08,153639,165.00,"[1664, 103, 53, 1093, 3595, 3562, 1544]"
549428,1984-06-14,M,PUNE,139285.60,2016-08-22,193725,2950.00,"[242, 103, 203, 3106, 4441, 4982, 436]"
942569,1992-09-26,F,PANIPAT,13089.22,2016-09-14,180241,2000.00,"[4617, 43, 113, 2590, 4301, 4953, 303]"
581496,1982-06-21,M,NEW DELHI,13287.23,2016-08-27,190129,396.00,"[2261, 103, 53, 880, 503, 3973, 4672]"
237191,1980-09-24,F,AGRA,16177.44,2016-07-08,140107,4291.50,"[3087, 43, 93, 143, 4932, 3053, 4768]"
48138,1996-08-18,M,GUNTUR,19.71,2016-03-08,171658,200.00,"[86, 103, 73, 4754, 4155, 4004, 51]"